:root {
  --clr-purple: #733FCB;
  --clr-gray-1: #48556A;
  --clr-gray-2: #19202D;
  --clr-off-white: #ECF2F8;
  --clr-white: #fff;


  --border-radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  min-height: 100svh;
  background-color: var(--clr-off-white);
  font-family: 'Barlow Semi Condensed', serif;
  font-weight: 500;
}

h2,
p,
blockquote {
  margin: 0;
}

img {
  display: block;
  border-radius: 50%;
  align-self: flex-start;
}

.reviews > * + * {
  margin-top: 1.5rem;
}

.review {
  padding: 2rem;
  background-color: var(--review-bg-clr);
  color: var(--text-color, var(--clr-gray-1));
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}

.review.purple {
  --review-bg-clr: var(--clr-purple);
  --text-color: var(--clr-off-white);
}

.review.white {
  --review-bg-clr: var(--clr-white);
}

.review.gray-1 {
  --review-bg-clr: var(--clr-gray-1);
  --text-color: var(--clr-off-white);
}

.review.gray-2 {
  --review-bg-clr: var(--clr-gray-2);
  --text-color: var(--clr-off-white);
}

.review > p {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

blockquote {
  font-size: 0.8125rem;
  line-height: 1.1;
  opacity: 0.7;
}

.review-heading {
  display: flex;
  gap: 1.06rem;
}

@media (min-width: 45em) {

  .reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;

    grid-template-areas: "p1 p1 g1"
                         "w1 g2 g2"
                         "w2 w2 w2";
  }

  .reviews > * + * {
    margin: 0;
  }

  .review.purple {
    grid-area: p1;
  }

  .review.gray-1 {
    grid-area: g1;
  }

  .review.gray-2 {
    grid-area: g2;
  }

  .review.white.short {
    grid-area: w1;
  }

  .review.white.long {
    grid-area: w2;
  }
}

@media (min-width: 80em) {

  .reviews {
    max-width: 90rem;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas: "p1 p1 g1 w2"
                         "w1 g2 g2 w2";
  }
}